*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(124, 118, 118);
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-player{
    display: block;
    background-color: #313131;
    padding: 50px;
    border-radius: 16px;
    box-shadow: inset -6px -6px 12px rgba(0,0,0,0.8) , inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}